---

import "../styles/style.css"

import "@splidejs/splide/css"
import { Splide, SplideTrack, SplideSlide } from 'astro-splide';

const imgUrls = [
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
]

const options = {
  type         : 'loop',
  gap          : '1rem',
  autoplay     : true,
  pauseOnHover : false,
  resetProgress: false,
  height       : '15rem',
};

---

<div class="wrapper">
  <h2 id="autoplay-example-heading">Autoplay</h2>
  <Splide
    options={ options }
    aria-labelledby="autoplay-example-heading"
    hasTrack={ false }
  >
    <div style={ { position: 'relative' } }>
      <SplideTrack>
        {
          imgUrls.map(url => (
            <SplideSlide>
              <img src={url} alt=''/>
            </SplideSlide>
          ))
        }
      </SplideTrack>
    </div>

    <div class="splide__progress">
      <div class="splide__progress__bar" />
    </div>

    <button class="splide__toggle">
      <span class="splide__toggle__play">Play</span>
      <span class="splide__toggle__pause">Pause</span>
    </button>
  </Splide>
</div>
