---

import "../styles/style.css"

import "@splidejs/splide/css"
import { Splide, SplideSlide } from 'astro-splide';

const imgUrls = [
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
]

/* TODO: events
add the following to Splide
onMoved={ ( splide, newIndex ) => {
      // eslint-disable-next-line
      console.log( 'moved', newIndex );

      // eslint-disable-next-line
      console.log( 'length', splide.length );
    } }
*/
---

<div class="wrapper">
  <h2 id="basic-example-heading">Basic Example</h2>

  <Splide
    options={ {
      perPage: 2,
      height : '10rem',
      rewind : true,
      gap    : '1rem',
    } }
    aria-labelledby="basic-example-heading"
  >
    {
      imgUrls.map(url => (
        <SplideSlide>
          <img src={url} alt=''/>
        </SplideSlide>
      ))
    }
  </Splide>
</div>
