---
// Copyright (c) Pascal Brand
// MIT License

import "../styles/style.css"

import "@splidejs/splide/css"
import { Splide, SplideSlide } from 'astro-splide';

const imgUrls = [
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
  `https://picsum.photos/512/256?astro=${Math.random().toString(36).slice(2, 11)}`,
]

---

<div class="wrapper">
  <h2 id="basic-example-heading">Basic Example</h2>

  <Splide
    options={ {
      perPage: 2,
      height : '10rem',
      rewind : true,
      gap    : '1rem',
    } }
    aria-labelledby="basic-example-heading"
    onMoved={ (splide: Splide, index: number, prev: number, dest: number) => {
      console.log('splide:', splide);
      console.log('index:', index);
      console.log('prev:', prev);
      console.log('dest:', dest);

    }}
  >
    {
      imgUrls.map(url => (
        <SplideSlide>
          <img src={url} alt=''/>
        </SplideSlide>
      ))
    }
  </Splide>
</div>
