---
// Copyright (c) Pascal Brand
// MIT License

// TODO: align to react-splide (see docs at https://splidejs.com/integration/react-splide/)


---

<li class="splide__slide">
  <slot />
</li>
