---
// Copyright (c) Pascal Brand
// MIT License

import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<"li">

const {
  class: className = "",   // the class to add to "splide"
  ...props                 // the other props, such as aria-label,... but not class as already get
} = Astro.props;

---
<li class={"splide__slide " + className} {...props}>
  <slot />
</li>
